[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "*"
flask = "*"
react = "*"
requests = "*"
pytest-flask = "*"
"jinja2" = "*"
python-frontmatter = "*"


[dev-packages]



[requires]

python_version = "3.6"
